.text-area .content
{
    -fx-background-color: #212121;
    -fx-border-radius: 0 0 0 0;
    -fx-background-radius: 0 0 0 0;
}

.text-area {
    -fx-border-radius: 0 0 0 0;
    -fx-background-radius: 0 0 0 0;
    -fx-font-family: Consolas;
    -fx-font-size: 13;
    -fx-text-fill: #ffffff;
    -fx-display-caret:true;
}
